

:root {
    --dark: #16213e;
    --light: #fff;
    --success: #00b894;
    --error: #d63031;
    --warning: #fdcb6e;
    --info: #0984e3;
    --gray: #cccccc;
}

/*body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: var(--dark);
    font-family: "Roboto", sans-serif;
}
*/
.notifications {
    position: fixed;
    top: 30px;
    right: 20px;
    z-index:9999!important;
    font-size:16px;
}

    .notifications .column,
    .toast-design {
        display: flex;
        align-items: center;
    }

    .notifications .toast-design {
        width: 400px;
        position: relative;
        list-style: none;
        background: var(--light);
        border-radius: 4px;
        margin-bottom: 10px;
        padding: 20px;
        justify-content: space-between;
        overflow: hidden;
        animation: show_toast 0.5s ease forwards;
    }

        .notifications .toast-design.remove {
            animation: hide_toast 0.3s ease forwards;
        }

@keyframes hide_toast {
    0% {
        transform: translateX(0%);
    }

    40% {
        transform: translateX(0%);
    }

    80% {
        transform: translateX(-5%);
    }

    100% {
        transform: translateX(calc(100% + 20px));
    }
}

@keyframes show_toast {
    0% {
        transform: translateX(100%);
    }

    40% {
        transform: translateX(-5%);
    }

    80% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-10px);
    }
}

.toast-design::before {
    content: "";
    position: absolute;
    height: 3px;
    width: 100%;
    bottom: 0;
    left: 0;
    animation: progress 5s linear forwards;
}

@keyframes progress {
    100% {
        width: 0%;
    }
}

.toast-design.success::before,
.btn#success {
    background-color: var(--success);
}

.toast-design.error::before,
.btn#error {
    background-color: var(--error);
}

.toast-design.warning::before,
.btn#warning {
    background-color: var(--warning);
}

.toast-design.info::before,
.btn#info {
    background-color: var(--info);
}

.toast-design .column i {
    font-size: 1.5rem;
    margin-right: 10px;
}

.toast-design.success .column i {
    color: var(--success);
}

.toast-design.error .column i {
    color: var(--error);
}

.toast-design.warning .column i {
    color: var(--warning);
}

.toast-design.info .column i {
    color: var(--info);
}

.toast-design .column .span {
    font-size: 1.2rem;
}

.toast-design i:last-child {
    font-size: 1.2rem;
    cursor: pointer;
    color: var(--gray);
    transition: all 0.2s ease-in-out;
}

.toast-design i:last-child:hover {
    color: var(--dark);
}

.buttons .btn {
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 1.2rem;
    cursor: pointer;
    margin-right: 10px;
    transition: all 0.2s ease-in-out;
    color: var(--light);
}

    .buttons .btn:hover {
        transform: scale(1.05);
    }
